@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "View Customers";
}

<h1>All Teller Accounts</h1>


@if (Model.Any())
{

    <a asp-action="CreateTeller" asp-controller="Administrator"
       class="btn btn-primary mb-3" style="width:auto">
        Create New Account
    </a>



    <table class="table table-bordered table-hover table-light ">
        <thead class="bg-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(user => user.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(user => user.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(user => user.firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(user => user.lastName)
                </th>
                <th>Actions</th>
            </tr>
        </thead="bg-primary">
        <tbody>


            @foreach (var user in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.lastName)
                    </td>
                    <td>
                        <a asp-controller="Administrator" asp-action="TellerDetails" asp-route-id="@user.Id">View Account</a>

                    </td>
                </tr>
            }

            }

        </tbody>


    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No Users
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a new account
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Administrator" asp-action="CreateTeller">
                Create New Account
            </a>
        </div>
    </div>
}