@inject SignInManager<ApplicationUser> signInManager;



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NCB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/ee196b8fd04fdef8e2ab97bcd9656579.jpeg" height="40" width="70" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       


                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="false">Create User</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a asp-action="Create" asp-controller="Administrator"
                                       class="dropdown-item">Customer</a>

                                    <a class="dropdown-item" asp-action="CreateTeller" asp-controller="Administrator">
                                        Teller
                                    </a>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="false">Manage Roles</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a asp-action="CreateRole" asp-controller="Administrator"
                                       class="dropdown-item">Create Role</a>

                                    <a class="dropdown-item" asp-action="ListRoles" asp-controller="Administrator">
                                        Manage Roles
                                    </a>



                                </div>
                            </li>

                        }

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Teller"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="false">View Users</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a asp-action="ViewAll" asp-controller="Administrator"
                                       class="dropdown-item">Customers</a>

                                    <a class="dropdown-item" asp-action="ViewAllTeller" asp-controller="Administrator">
                                        Tellers
                                    </a>



                                </div>
                            </li>
                        }

                        @if (signInManager.IsSignedIn(User) && (User.IsInRole("Teller") @*|| User.IsInRole("Admin")*@))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="false">Transaction</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a asp-action="Create" asp-controller="Transactions"
                                       class="dropdown-item">Create</a>

                                    <a class="dropdown-item" asp-action="Index" asp-controller="Transactions">
                                        View All
                                    </a>

                                </div>
                            </li>
                        }



                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Customer"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="false">Transaction</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" asp-action="CustomerTrans" asp-controller="Transactions" asp-route-id="@TempData["USERID"]">
                                        View All
                                    </a>

                                </div>
                            </li>
                        }



                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="account">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        LogOut @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="p-3 mb-2 bg-secondary text-white"></div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="p-3 mb-2 bg-secondary text-white"></div>
    </div>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - JNCB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
